{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
登出
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Registration</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="text-center">
            <h2>Sure to Logout?</h2>
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}