{% extends 'base.html' %}
{% load static %}
{% load mse_filter %}

{% block subtitle %}
Business
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'business' %}">Business</a></li>
<li class="breadcrumb-item active" aria-current="page">Mobile Device</li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div>
            {% if count_mobile_devices == 0 %}
            <h3>No Result.</h3>
            {% elif count_mobile_devices == 1 %}
            <h3>{{ count_mobile_devices }} Result.</h3>
            {% else %}
            <h3>{{ count_mobile_devices }} Results.</h3>
            {% endif %}
        </div>

        <div class="mt-1 mb-1">
            <button type="button" class="btn btn-primary">Apply</button>
        </div>

        <div class="mt-1 mb-1 col-lg-3 col-md-6 col-sm-12">
            <form method="get" action="{% url 'md_filtered' %}" onchange="submit();">
                <select name="owner_unit_option" id="owner_unit_option" class="form-select" aria-label="Floating label select example">
                    <option value="">All</option>
                    {% for unit in owner_unit_options %}
                    {% if unit.0 == owner_unit_option %}
                    <option value="{{ unit.0 }}" selected>{{ unit.1 }}</option>
                    {% else %}
                    <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle text-center">
                <thead class="align-middle">
                    <tr>
                        <th rowspan="2" scope="col">#</th>
                        <th rowspan="2" scope="col">Unit</th>
                        <th rowspan="2" scope="col">Commission</th>
                        <th rowspan="2" scope="col">Owner</th>
                        <th colspan="2" scope="col">Smart Phone</th>
                        <th colspan="2" scope="col">Smart Watch</th>
                    </tr>
                    <tr>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                    </tr>
                </thead>

                <tbody>
                {% for md, md_owner_unit in mobile_devices %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ md_owner_unit }}</td>
                        <td>{{ md.owner_commission|readable_commission }}</td>
                        <td>{{ md.owner }}</td>
                        <td>{{ md.SP_brand }}</td>
                        <td>{{ md.SP_model }}</td>
                        <td>{{ md.SW_brand }}</td>
                        <td>{{ md.SW_model }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}