{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Registration
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Registration</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="text-center">
            <h2>Login</h2>
            <form method="post">
            {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}