{% extends 'base.html' %}
{% load static %}
{% load mp_filter %}

{% block subtitle %}
Market Place
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'market_place' %}">Market Place</a></li>
<li class="breadcrumb-item"><a href="{% url 'maintenance_management' %}">Maintenance Management</a></li>
<li class="breadcrumb-item"><a href="{% url 'order_dashboard' %}">Order Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">S/N: {{ order.serial_number }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div>
            <table class="bg-light text-center">
<!--                <tr>-->
<!--                {% for status in order_status %}-->
<!--                    {% if order.status == status.value.0 %}-->
<!--                    <td class="col-2"><img src="{% static 'pic/order_status/Pending-active.png' %}" width="30%"></td>-->
<!--                    {% elif order.status == status.value.1 %}-->
<!--                    <td class="col-2"><img src="{% static 'pic/order_status/Confirm-active.png' %}" width="30%"></td>-->
<!--                    {% elif order.status == status.value.2 %}-->
<!--                    <td class="col-2"><img src="{% static 'pic/order_status/Process-active.png' %}" width="30%"></td>-->
<!--                    {% elif order.status == status.value.3 %}-->
<!--                    <td class="col-2"><img src="{% static 'pic/order_status/Completed-active.png' %}" width="30%"></td>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--                </tr>-->
<!--                <tr>-->
<!--                {% for status in order_status %}-->
<!--                    {% if status.value.0 != 4 %}-->
<!--                    <td class="col-2">{{ status }}</td>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--                </tr>-->

<!--                {% if order.status == 4 %}-->
<!--                <tr>-->
<!--                    <td class="col-3"></td>-->
<!--                    <td class="col-1" rowspan="2"></td>-->
<!--                    <td class="col-3">-->
<!--                        <img src="{% static 'pic/cancelled.png' %}" width="30%">-->
<!--                    </td>-->
<!--                    <td class="col-1" rowspan="2"></td>-->
<!--                    <td class="col-3"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td class="col"></td>-->
<!--                    <td class="col">Canceled</td>-->
<!--                    <td class="col"></td>-->
<!--                </tr>-->
<!--                {% else %}-->
                <tr>
                    <td class="col-2">
                        {% if order.status == 0 %}
                        <img src="{% static 'pic/order_status/Pending-active.png' %}" width="30%">
                        {% else %}
                        <img src="{% static 'pic/order_status/Pending.png' %}" width="30%">
                        {% endif %}
                    </td>
                    <td class="col" rowspan="2"><i class="bi bi-caret-right-fill"></i></td>
                    <td class="col-2">
                        {% if order.status == 1 %}
                        <img src="{% static 'pic/order_status/Confirmed-active.png' %}" width="30%">
                        {% else %}
                        <img src="{% static 'pic/order_status/Confirmed.png' %}" width="30%">
                        {% endif %}
                    </td>
                    <td class="col" rowspan="2"><i class="bi bi-caret-right-fill"></i></td>
                    <td class="col-2">
                        {% if order.status == 2 %}
                        <img src="{% static 'pic/order_status/Process-active.png' %}" width="30%">
                        {% else %}
                        <img src="{% static 'pic/order_status/Process.png' %}" width="30%">
                        {% endif %}
                    </td>
                    <td class="col" rowspan="2"><i class="bi bi-caret-right-fill"></i></td>
                    <td class="col-2">
                        {% if order.status == 3 %}
                        <img src="{% static 'pic/order_status/Completed-active.png' %}" width="30%">
                        {% else %}
                        <img src="{% static 'pic/order_status/Completed.png' %}" width="30%">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="col">Pending</td>
                    <td class="col">Confirmed</td>
                    <td class="col">Process</td>
                    <td class="col">Done</td>
                </tr>
<!--                {% endif %}-->
            </table>
        </div>

        <div class="col-lg-8 col-sm-12 mt-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Serial Number: {{ order.serial_number }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Order Status: {{ order.status|readable_order_status }}</h6>
                    <p class="card-text">Purchaser: {{ order.purchaser }}</p>
                    <p class="card-text">Content: {{ order.content }}</p>
                    {% if order.status == 0 %}
                    <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'order_confirm' order.serial_number %}'">Confirm</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 mt-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <ul>
                        {% for record in records %}
                        <li>
                            {% if forloop.counter == 1 %}
                            <span class="h5">{{ record.content }}</span><br>
                            <span class="text-body-secondary">{{ record.created_time|date:'Y/m/d H:i' }}</span>
                            {% else %}
                            <span class="text-body-secondary">{{ record.content }}</span><br>
                            <span class="text-body-secondary">{{ record.created_time|date:'Y/m/d H:i' }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}