{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Business
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Business</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 text-center shadow p-3 mb-5 bg-body-tertiary rounded" onclick="window.location.href='{% url 'mobile_storage_equipments' %}'">
            <div class="p-5">
                <img src="{% static 'icons/journal-alt.png' %}" width="30%">
            </div>
            <h5>Mobile Storage Equipments</h5>
        </div>
    </div>
</div>
{% endblock %}
