{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Business
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Business</li>
{% endblock %}

{% block body %}
<div class="container">
        <div class="col-lg-3 col-md-4 col-sm-6" onclick="window.location.href='{% url 'ocean_stations' %}'">
            <div class="card text-bg-info mb-3 text-center">
            <div class="card-header">海洋驛站</div>
                <div class="card-body">
                    <h1 class="card-title">{{ ocean_station_nums }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
