{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Market Place
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'market_place' %}">Market Place</a></li>
<li class="breadcrumb-item active" aria-current="page">Item Query</li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="mt-1 mb-1">
<!--            <button type="button" class="btn btn-primary">Apply</button>-->
<!--            <button type="button" class="btn btn-secondary">Secondary</button>-->
<!--            <button type="button" class="btn btn-success" onclick="window.location.href=#export_md_all'">Export All</button>-->
<!--            <button type="button" class="btn btn-danger">Danger</button>-->
<!--            <button type="button" class="btn btn-warning">Warning</button>-->
<!--            <button type="button" class="btn btn-info" onclick="window.location.href='#process_excel'">Import</button>-->
<!--            <button type="button" class="btn btn-light">Light</button>-->
<!--            <button type="button" class="btn btn-dark">Dark</button>-->
        </div>
    </div>

    <div class="table-responsible">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <td>Item</td>
                    {% for status in item_status %}
                    <td>{{ status.value.2 }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for item in all_items %}
                <tr>
                    {% for value in item %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}