{% extends 'base.html' %}
{% load static %}
{% load mp_filter %}

{% block subtitle %}
Market Place
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'market_place' %}">Market Place</a></li>
<li class="breadcrumb-item active" aria-current="page">Item Query</li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="mt-1 mb-1">
<!--            <button type="button" class="btn btn-primary">Apply</button>-->
<!--            <button type="button" class="btn btn-secondary">Secondary</button>-->
<!--            <button type="button" class="btn btn-success" onclick="window.location.href=#export_md_all'">Export All</button>-->
<!--            <button type="button" class="btn btn-danger">Danger</button>-->
<!--            <button type="button" class="btn btn-warning">Warning</button>-->
<!--            <button type="button" class="btn btn-info" onclick="window.location.href='#process_excel'">Import</button>-->
<!--            <button type="button" class="btn btn-light">Light</button>-->
<!--            <button type="button" class="btn btn-dark">Dark</button>-->
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <span>Query By</span>
        <strong class="h3">{{ keyword|readable_item_status }}</strong>
    </div>
    <button type="button" class="btn btn-primary" onclick="history.back()">Back</button>

    <div class="table-responsible">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <td>Item</td>
                    <td>S/N</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
            {% for item in query_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.serial_number }}</td>
                    <td>{{ item.status|readable_item_status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}