{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ s_category }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <ul class="nav flex-column nav-pills">
                {% for category in categories %}
                {% if category == s_category %}
                <li class="nav-item">
                    <a class="nav-link active" href="#{{ category }}">{{ category }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' category.slug %}">{{ category }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="card mb-2">
                <ul class="list-group list-group-flush">
                    {% for subject in subjects %}
                    <li class="list-group-item"><a href="{% url 'subject' subject.category.slug subject.slug %}">{{ subject }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}