{% extends 'base.html' %}
{% load static %}
{% load mse_filter %}

{% block subtitle %}
Business
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'business' %}">Business</a></li>
<li class="breadcrumb-item active" aria-current="page">Mobile Storage Equipments</li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="mt-1 mb-1">
            <button type="button" class="btn btn-primary">Apply</button>
<!--            <button type="button" class="btn btn-secondary">Secondary</button>-->
            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'export_mse_all' %}'">Export All</button>
<!--            <button type="button" class="btn btn-danger">Danger</button>-->
<!--            <button type="button" class="btn btn-warning">Warning</button>-->
<!--            <button type="button" class="btn btn-info">Info</button>-->
<!--            <button type="button" class="btn btn-light">Light</button>-->
<!--            <button type="button" class="btn btn-dark">Dark</button>-->
        </div>

        <div class="mt-1 mb-1 col-lg-3 col-md-6 col-sm-12">
            <form method="get" action="{% url 'mse_filtered' %}" onchange="submit();">
                <select name="manage_unit" id="manage_unit" class="form-select" aria-label="Floating label select example">
                    <option value="">Filter by manage unit</option>
                    {% for unit in manage_units %}
                    <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle text-center">
                <thead class="align-middle">
                    <tr>
                        <th rowspan="2" scope="col">#</th>
                        <th rowspan="2" scope="col">S/N</th>
                        <th colspan="2" scope="col">Info.</th>
                        <th colspan="2" scope="col">Storage</th>
                        <th rowspan="2" scope="col">Capacity</th>
                        <th rowspan="2" scope="col">Manager</th>
                        <th rowspan="2" scope="col">Deputy</th>
                        <th rowspan="2" scope="col">Remarks</th>
                    </tr>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Brand/Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand/Type</th>
                    </tr>
                </thead>

                <tbody>
                    {% for mse in mobile_storage_equipments %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ mse.serial_number }}</td>

                        {% if mse.type|is_info_equip %}
                        <td>
                            {{ mse.name }}
                            {% if mse.builtin_memory %}
                            </br>（內建記憶體）
                            {% endif %}
                        </td>
                        <td>
                            {{ mse.brand }}</br>
                            {{ mse.model }}
                        </td>
                        <td></td>
                        <td></td>
                        {% else %}
                        <td></td>
                        <td></td>
                        <td>
                            {{ mse.name }}
                        </td>
                        <td>
                            {{ mse.brand }}</br>
                            {{ mse.model }}
                        </td>
                        {% endif %}

                        <td>
                            {% if mse.capacity %}
                            {{ mse.capacity }}{{ mse.storage_unit|readable_storage_unit }}
                            {% endif %}
                        </td>
                        <td>
                            {{ mse.manage_unit|readable_unit }}</br>
                            {{ mse.manager }}
                        </td>
                        <td>
                            {{ mse.manage_unit|readable_unit }}</br>
                            {{ mse.deputy_manager }}
                        </td>
                        <td>{{ mse.remarks }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}