{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Market Place
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Market Place</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <table class="table">
            <tbody>
                <tr class="align-middle">
                    <td class="col-1"><img src="{% static 'icons/diploma.png' %}" width="100%"></td>
                    <td class="col-5">
                        <a href="{% url 'certificate_applications' %}" class="h5">Certificate Applications</a>
                    </td>
                    <td class="col-1"><img src="{% static 'icons/laptop-mobile.png' %}" width="100%"></td>
                    <td class="col-5">
                        <a href="{% url 'mobile_devices' %}" class="h5">Mobile Devices</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}