{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Playground
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'playground' %}">Playground</a></li>
<li class="breadcrumb-item"><a href="{% url 'karaoke' %}">Karaoke</a></li>
<li class="breadcrumb-item active" aria-current="page">Search Song</li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Search Song</h1>
                <p class="lead text-muted">Get the top nine karaoke videos on YouTube for your query!</p>
                <form method="POST">
                    <div class="input-group mb-3">
                        {% csrf_token %}
                        <input type="text" name="search" class="form-control" aria-label="Username">
                    </div>
                    <p>
                        <button type="submit" name="submit" value="search" class="btn btn-primary my-2">YouTube Search</button>
                    </p>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        {% for video in videos %}
        <div class="card col-md-3 col-5 m-1">
            <img src="{{ video.thumbnail }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">{{ video.title }}</h6>
                <button type="button" class="btn btn-primary" onclick="window.open('{{ video.url }}', '_blank')">View</button>
                <small class="text-muted">{{ video.duration }} mins</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
