{% extends 'base.html' %}
{% load static %}

{% block title %}
Dot Website
{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
            <h1>Dot Website</h1>
            <p>Welcome to "Dot Website," where each pixel tells a story! Dive into a digital realm where creativity meets precision. Navigate through a symphony of code, crafting an online experience that transcends the ordinary. From sleek designs to seamless functionality, Dot Website is your passport to the visually stunning and effortlessly functional web. Discover the art of the pixel – explore Dot Website now!</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{% static 'pic/self-learning.png' %}" width="80%">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-6">
            <a href="{% url 'learning_tree' %}">
                <img src="{% static 'pic/check-list.png' %}" width="80%">
            </a>
            <h3>Learning Tree</h3>
        </div>
        <div class="col-md-4 col-6">
            <a href="{% url 'market_place' %}">
                <img src="{% static 'pic/ecommerce.png' %}" width="80%">
            </a>
            <h3>Market Place</h3>
        </div>
        <div class="col-md-4 col-6">
            <a href="{% url 'business' %}">
                <img src="{% static 'pic/business-idea.png' %}" width="80%">
            </a>
            <h3>Business</h3>
        </div>


        <div class="col-lg-4 col-sm-12">
            <ul class="nav flex-column nav-pills">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="#">Active</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--                </li>-->
                {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' category.slug %}">{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-8 col-sm-12">
            {% for subjects in c_subjects %}
            <div class="card mb-2">
                <ul class="list-group list-group-flush">
                    {% for subject in subjects %}
                    <li class="list-group-item"><a href="{% url 'subject' subject.category.slug subject.slug %}">{{ subject }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}